node_modules

.agents
.claude
.antigravitycli
.cursor/skills
.specstory
.vscode

strm_output
strm_output_bak
data
__pycache__/

cache

config.yaml
config.yaml.bak
config.yaml.*.bak

archive
archive_bak

